# Ignorar configuraciones locales de usuario
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash

# Ignorar resultados de compilación
**/build/
**/dist/

# Archivos de log
*.log